.Header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    height: 100px;
    width: 110px;
}

.NavItems>ul{
    font-size: 20px;
    display: flex;
    padding:0px 20px ;
    list-style-type: none;
}

.NavItems>ul>li{
    padding: 10px;
    margin:10px;
}
.res-card{
    width:300px;
    height:400px;
    border:1px solid black;
    padding: 5px;
}
.res-card:hover{
    border:3px solid brown;
    cursor: pointer;
}
.search{
    padding: 10px;
}
.res-logo{
    width:210
}
.resto-container{
    gap: 20;
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    margin:10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cards{
    width: 300px;
    height: 400px;
    background-color:lightgray;
    margin: 20px;
}
.login{
    padding: 0 20px;

    cursor: pointer;
}
.filter{
    display: flex;
}